* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100%;
  font-family: "Gabarito", sans-serif;
}

.nav {
  width: 100%;
  height: 90px;
  position: relative;
}

.nav .holder {
  width: 100%;
  height: 70px;
  padding: 20px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 999;
  background-color: white;
}

.nav .holder .navLeft {
  width: 40%;
  display: flex;
  justify-content: left;
}

.nav .holder .navLeft .wrapper {
  /* width: 40%; */
  display: flex;
  flex-direction: row;
}
.nav .holder .navLeft .icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  margin-top: 3px;
  background-color: #dbb86a;
}

.nav .holder .navLeft h2 {
  font-family: "Gabarito", sans-serif;
  font-weight: 800;
  font-size: 20px;
  display: flex;
  justify-content: left;
}

.nav .holder .navLeft h3 {
  font: 16px sans-serif;
  font-size: 15px;
  padding-left: 5px;
  padding-top: 5px;
}

.nav .holder .navRight {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.nav .holder .navRight a {
  font: 16px sans-serif;
  font-size: bold;
  text-decoration: none;
  color: black;
}

.nav .holder .navRight a:hover {
  color: #dbb86a;
  text-decoration: underline;
}

.header {
  width: 100%;
  height: 500px;
}

.header .holder {
  width: 90%;
  height: 480px;
  display: flex;
}

.header .holder .hLeft {
  width: 40%;
  height: 550px;
  background-color: #dbb86a;
}

.header .holder .hRight {
  width: 50%;
  height: 550px;
  margin-left: 250px;
  padding-top: 80px;
}

.header .holder .hRight h2 {
  font-family: "Gabarito", sans-serif;
  font-weight: 900;
  font-size: 35px;
  padding-bottom: 30px;
}

.header .holder .hRight .fRight {
  width: 100%;
  height: 190px;
  display: flex;
  flex-direction: row;
}

.header .holder .hRight .fRight .text {
  display: flex;
  flex-direction: column;
  width: 45%;
  margin-right: 40px;
  border: 1px;
  border-radius: 5px;
  box-shadow: 0px 0px 8px 6px rgba(0, 0, 0, 0.1);
}

.header .holder .hRight .fRight .text1 {
  display: flex;
  flex-direction: column;
  width: 50%;
  border: 1px;
  border-radius: 5px;
  box-shadow: 0px 0px 8px 6px rgba(0, 0, 0, 0.1);
}

.header .holder .hRight .fRight h4 {
  font-family: "Gabarito", sans-serif;
  font-weight: 500;
  font-size: 20px;
  font-style: italic;
  padding: 20px;
  padding-bottom: 59px;
}

.header .holder .hRight .fRight h5 {
  font-family: "Gabarito", sans-serif;
  font-weight: 500;
  font-size: 20px;
  font-style: italic;
  padding: 20px;
  margin-bottom: 25px;
}

.header .holder .hRight button {
  margin: 30px;
}

.header .holder .hRight .Myabout {
  font-family: "Gabarito", sans-serif;
  font-weight: 900;
  font-size: 17px;
  padding: 12px 40px;
  border: 1px solid #dbb86a;
  border-radius: 20px;
  color: #dbb86a;
  background-color: white;
  margin-top: -10px;
  margin-right: 10px;
}

.header .holder .hRight .Myabout:hover {
  color: white;
  background-color: #dbb86a;
}

.header .holder .hRight .project {
  font-family: "Gabarito", sans-serif;
  font-weight: 900;
  font-size: 17px;
  padding: 12px 40px;
  margin-top: 5px;
  border: 1px solid #dbb86a;
  border-radius: 20px;
  color: #dbb86a;
  background-color: white;
}

.header .holder .hRight .project:hover {
  color: white;
  background-color: #dbb86a;
  border: none;
}

.header .holder .hRight p {
  padding-top: 20px;
  line-height: 1.5;
}

.header .info {
  width: 400px;
  height: 500px;
  background-color: #f4ece6;
  position: absolute;
  top: 120px;
  left: 190px;
}

.header .info .holder {
  width: 380px;
  height: 480px;
  background-image: url(jen-jen.png);
  margin: 10px;
  position: relative;
  display: flex;
  flex-direction: column-reverse;
}

.header .info .holder .infoName {
  display: flex;
  flex-direction: column;
  padding-left: 130px;
  text-shadow: 3px -4px 2px rgba(219, 184, 106, 0.6);
  position: absolute;
  top: 30px;
  right: 250px;
}

.header .info .holder .infoName h3 {
  font-family: "Gabarito", sans-serif;
  font-weight: 500;
  font-size: 30px;
  padding-bottom: 10px;
}

.header .info .holder .infoName hr {
  width: 100%;
}

.header .info .holder .infoName h4 {
  font: 20px sans-serif;
  font-size: 18px;
  padding-top: 15px;
}

.header .holder .header-end {
  width: 50px;
  height: 500px;
  position: absolute;
  right: 5px;
}

.header .holder .header-end {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  z-index: 999;
  background-color: transparent;
}

.about {
  width: 100%;
  height: 700px;
  background: #e6dace;
}

.about .holder {
  width: 80%;
  height: 550px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 100px;
}

.about .holder .aLeft {
  width: 20%;
  transform: rotate(-40deg);
}

.about .holder img {
  width: 380px;
  height: 380px;
  border-radius: 30px;
  margin-top: 250px;
  margin-left: 10px;
  object-fit: cover;
}

.about .holder .aRight {
  width: 50%;
  height: 500px;
  margin-top: 250px;
  padding-left: 120px;
  display: flex;
  flex-direction: column;
}

.about .holder .aRight .top {
  display: flex;
  flex-direction: row;
}

.about .holder .aRight .icon {
  width: 20px;
  height: 20px;
  margin-right: 13px;
  margin-top: 10px;
  background-color: #dbb86a;
}
.about .holder .aRight h2 {
  margin-bottom: 90px;
  font-family: "Gabarito", sans-serif;
  font-weight: 900;
  font-size: 30px;
}

.about .holder .aRight h1 {
  padding-bottom: 40px;
}

.about .holder .aRight p {
  padding-bottom: 35px;
  font-size: 17px;
  line-height: 1.5;
}

.about .holder .aRight ul li {
  font-size: 19px;
  padding-bottom: 15px;
}

.about .holder .aRight ul li i {
  color: #e6dace;
}

.projects {
  width: 100%;
  height: 2080px;
}

.projects .holder {
  width: 100%;
  height: 2050px;
}

.projects .holder .top {
  width: 80%;
  height: 150px;
  padding-left: 650px;
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: row;
}

.projects .holder .top .icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  margin-top: 15px;
  background-color: #dbb86a;
}

.projects .holder .top h1 {
  font-family: "Gabarito", sans-serif;
  font-weight: 900;
  font-size: 40px;
}

.projects .holder .para {
  line-height: 1.5;
  padding-bottom: 30px;
  padding-left: 250px;
}

.projects .holder .pictures {
  width: 100%;
  height: 1750px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.projects .holder .pictures .pHolder {
  width: 60%;
  height: 400px;
  display: flex;
  flex-direction: column;
  border: 2px solid #dbb86a;
}

.projects .holder .pictures .pHolder .pics {
  position: relative;
  width: 100%;
  height: 100%;
}

.projects .holder .pictures .pHolder .pics .image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.projects .holder .pictures .pHolder .pics .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #e6dacecf;
}

.projects .holder .pictures .pHolder :hover .overlay {
  opacity: 1;
}

.projects .holder .pictures .pHolder .overlay .text {
  color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.projects .holder .pictures .pHolder .text h2 {
  font-size: 25px;
  padding-bottom: 10px;
}

.projects .holder .pictures .pHolder .text h4 {
  font-size: 20px;
  padding-bottom: 10px;
  padding-left: 110px;
  display: flex;
}

.projects .holder .pictures .pHolder .text p {
  font-size: 19px;
  line-height: 1;
  padding-bottom: 20px;
  padding-right: 30px;
}

.projects .holder .pictures .pHolder .text button {
  padding: 12px 25px;
  font-size: 16px;
  border: 1px solid #dbb86a;
  border-radius: 20px;
  color: #dbb86a;
  background-color: white;
}

.projects .holder .pictures .pHolder .text button:hover {
  color: white;
  background-color: #dbb86a;
  border: none;
}

.contact {
  width: 100%;
  background-color: #f4ece6;
}

.contact .holder {
  width: 90%;
}

.contact .holder .text {
  font-family: "Gabarito", sans-serif;
  font-weight: 900;
  font-size: 20px;
  width: 80%;
  height: 150px;
  padding-left: 650px;
  padding-top: 60px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
}

.contact .holder .icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  margin-top: 10px;
  background-color: #dbb86a;
}

.contact .holder .all {
  display: flex;
  flex-direction: row;
  padding-left: 50px;
}

.contact .holder .all .cLeft {
  width: 48%;
  height: 600px;
}

.contact .holder .all .cLeft h2 {
  padding-bottom: 20px;
  font-size: 30px;
}

.contact .holder .all .cLeft form {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}

.contact .holder .all .cLeft form .name,
.number,
.email {
  padding: 10px;
  border: none;
}

.contact .holder .all .cLeft form .email,
.number {
  margin-bottom: 10px;
}

.contact .holder .all .cLeft form .msg {
  margin-bottom: 20px;
  border: none;
}

.contact .holder .all .cLeft form .msg {
  margin-bottom: 20px;
}

.contact .holder .all .cLeft form .msg {
  padding: 50px;
}

.contact .holder .all .cLeft form a {
  width: 110px;
  padding: 12px 23px;
  font-size: 16px;
  border: 1px solid #dbb86a;
  border-radius: 10px;
  text-decoration: none;
  color: #dbb86a;
  background-color: white;
}

.contact .holder .all .cLeft form a:hover {
  color: white;
  background-color: #dbb86a;
}

.contact .holder .cRight {
  width: 80%;
  height: 750px;
  padding-left: 50px;
}

.footer {
  width: 100%;
  height:100px;
}

.footer .holder{
  width: 100%;
  height:80px;
  display: flex;
  flex-direction: row;
}


